#titleContainer {
  margin: auto;
}

#title {
  text-align: center;
  margin: 25px pauto;
}

#drawingBoxesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#drawingBoxesContainer > div {
  border: 1px solid black;
  height: 25px;
  width: 25px;
}

#drawingBoxesContainer > div:nth-child(17n + 1) {
  width: 100%;
  border: 0;
  height: 0;
}
